<div class="container mt-5">
  <h4>Internal Server Error _ refresh will make exception disappear</h4>
  <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}} </h5>
    <p class="font-weight-bold">Note: if you see this message, Angular is probably not responsable</p>
    <p>What to do next?</p>
    <ol>
      <li>open chrome dev tools</li>
      <li>inspect network tab</li>
      <li>Check failing request</li>
      <li>Examine this request url - make sure it's correct</li>
      <li>Reproduce the error in Postman</li>
    </ol>
    <p>Here is the stack trace :</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
  </ng-container>
</div>
