<div class="container mt-5">
  <button class="btn btn-outline-primary mr-3" (click)="get500error()">Test 500 error</button>
  <button class="btn btn-outline-primary mr-3" (click)="get404error()">Test 404 error</button>
  <button class="btn btn-outline-primary mr-3" (click)="get400error()">Test 400 error</button>
  <button class="btn btn-outline-primary mr-3" (click)="get400validationError()">Test 400 validation error</button>
  <div class="row mt-5" *ngIf="validationError">
    <ul class="text-danger">
      <li *ngFor="let error of validationError">{{error}}</li>
    </ul>
  </div>
</div>
