<header>
  <span *ngIf="totalCount && totalCount > 0">Showing
    <strong>
      {{(pageNumber -1) * pageSize +1}}
       -
      {{pageNumber * pageSize > totalCount
        ? totalCount : pageNumber * pageSize}}
    </strong>
     of
     <strong> {{totalCount}} </strong>
     Results </span>
     <span *ngIf="totalCount === 0"> Aucun produit ne correspond à votre recherche </span>
</header>
